<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mis Reservas</title>
  <link rel="stylesheet" th:href="@{/css/generalStyle.css}">
  <link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>
<body>

<nav th:replace="~{fragments/navCliente :: navbarCliente}"></nav>

<div class="cliente-contenido">
  <div class="general-contenido">
    <div class="container mt-4">
      <h2>		clienteMisReservas.html</h2>

	  clienteMisReservas.html

      </div>
    </div>
  </div>
</div>

</body>
</html>
