<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Usuario</title>
    <link rel="stylesheet" th:href="@{/css/generalStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <nav th:replace="~{fragments/navAdmin :: navbarAdmin}"></nav>

    <div class="perfil-container">
        <div class="perfil-card">


            <div class="perfil-header">
                <div class="avatar">
                    <img src="/imagenes/perfil.png" alt="Perfil" />
                </div>
                <h2>Editar Rol de [[${usuario.nombre}]] [[${usuario.apellido}]]</h2>
            </div>
            <form th:action="@{/admin/actualizar-rol}" method="post" class="perfil-form">

                <input type="hidden" name="idUsuario" th:value="${usuario.idusuario}"/>

                <div class="campo-form">
                    <label>Nombre:</label>
                    <input type="text" th:value="${usuario.nombre}" disabled/>
                </div>

                <div class="campo-form">
                    <label>Apellido:</label>
                    <input type="text" th:value="${usuario.apellido}" disabled/>
                </div>

                <div class="campo-form">
                    <label>Rol:</label>
                    <select name="rolId">
                        <option th:each="rol : ${roles}"
                                th:value="${rol.id}"
                                th:text="${rol.nombre}"
                                th:selected="${rol.id == usuario.rolId}">
                        </option>
                    </select>
                </div>
                <div class="botones-form">
                    <button class="btn-actualizar" type="submit">Actualizar</button>
                    <a th:href="@{/admin/usuarios}" class="btn-cancela">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
