<div th:fragment="modal-contenido">
  <p><strong>Código de Reserva:</strong> [[${reserva.codigoReserva}]]</p>
  <p><strong>Cliente:</strong> [[${reserva.cliente}]]</p>
  <p><strong>N° Habitación:</strong> [[${reserva.numHabitacion}]]</p>
  <p><strong>Tipo de Habitación:</strong> [[${reserva.tipoHabitacion}]]</p>
  <p><strong>Piso:</strong> [[${reserva.piso}]]</p>
  <p><strong>Entrada:</strong> [[${reserva.fechaEntrada}]]</p>
  <p><strong>Salida:</strong> [[${reserva.fechaSalida}]]</p>
  <p><strong>Días:</strong> [[${reserva.cantidadDias}]]</p>
  <p><strong>Precio x Día:</strong> S/ [[${reserva.precioxDia}]]</p>
  <p><strong>Total:</strong> S/ [[${reserva.total}]]</p>
  <p><strong>Estado:</strong> [[${reserva.estadoReserva}]]</p>
</div>

