
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav class="navbar-admin navbar" th:fragment="navbarAdmin">
		<div class="navbar-seccion izquierda">
			<div class="logo">Hospedaje</div>
		</div>

		<div class="navbar-seccion centro">
			<ul class="nav-links">
				<li><a th:href="@{/admin/inicio}"
					th:classappend="${currentPath.startsWith('/admin/inicio') ? 'activo' : ''}">Inicio</a></li>
				<li><a th:href="@{/admin/consultas}"
					th:classappend="${currentPath.startsWith('/admin/consultas') ? 'activo' : ''}">Consultas</a></li>
				<li><a th:href="@{/admin/usuarios}"
					th:classappend="${currentPath.startsWith('/admin/usuarios') ? 'activo' : ''}">Usuarios</a></li>

				<li class="dropdown" th:classappend="${currentPath.startsWith('/admin/mant') ? 'activo' : ''}">
					<a href="#" class="dropdown-toggle">Mantenimientos</a>
					<ul class="submenu">
						<li><a th:href="@{/admin/mantHabitacion}">Mantenimiento Habitación</a></li>
						<li><a th:href="@{/admin/mantPiso}">Mantenimiento Piso</a></li>
						<li><a th:href="@{/admin/mantTipoHab}">Mantenimiento Tipo Habitación</a></li>
					</ul>
				</li>

				<li class="dropdown" th:classappend="${currentPath.startsWith('/admin/reportes') ? 'activo' : ''}">
					<a href="#" class="dropdown-toggle">Reportes</a>
					<ul class="submenu">
						<li><a th:href="@{/admin/reportesHabitaciones}">Habitaciones reservadas</a></li>
						<li><a th:href="@{/admin/reportesClientes}">Clientes frecuentes</a></li>
						<li><a th:href="@{/admin/reportesHabitacionesFrecuentes}">Habitaciones más usadas</a></li>
						<li><a th:href="@{/admin/reporteOcupabilidad}">Ocupabilidad por piso</a></li>
					</ul>
				</li>
				<li><a th:href="@{/admin/perfil}"
					th:classappend="${currentPath.startsWith('/admin/perfil') ? 'activo' : ''}">Perfil</a></li>
			</ul>
		</div>

		<div class="navbar-seccion derecha">
			<form th:action="@{/logout}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<button type="submit" class="btn-login">Cerrar Sesión</button>
			</form>
		</div>
	</nav>

</body>
</html>
