<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/generalStyle.css}">
<link rel="stylesheet" th:href="@{/css/mainStyle.css}">
<body>
	<nav class="navbar" th:fragment="navbar">
		<div class="navbar-seccion izquierda">
			<div class="logo">Hospedaje</div>
		</div>

		<div class="navbar-seccion centro">
			<ul class="nav-links">
				<li><a th:href="@{/}"
					th:classappend="${currentPath == '/' ? 'activo' : ''}">Inicio</a></li>
				<li><a th:href="@{/habitaciones}"
					th:classappend="${currentPath.startsWith('/habitaciones') ? 'activo' : ''}">Habitaciones</a>
				</li>
			</ul>
		</div>

		<div class="navbar-seccion derecha">
			<a class="btn-login" th:href="@{/login}">Iniciar Sesión</a>
		</div>
	</nav>
</body>
</html>